@charset "UTF-8";

/*
    HTML: id = CSS: #
    HTML: class = CSS: .
*/

body {
    background-color:aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(70, 160, 130);
    text-align: center;
}

h1#principal {
    text-align: center;
    background-color: rgb(47, 105, 86);
    color: white;
}

h2 {
    color: rgb(47, 105, 86);
}

.basico {
    color: coral;
}

.intermediario {
    color: rgb(161, 82, 53);
}

.avancado {
    color: rgb(80, 39, 25);
}

p {
    text-align: justify;
    text-indent: 30px;
}